# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user

#markdown cache
*_cache/

#drake cache
.drake/

#data
*.xls
*.csv
*.Rdata
*.odb
*.zip
*.jpg
*.sql
*.xlsx
*.docx
!globalCorrections.csv
!localDatacorrections_plots_China.csv
!cover_correction.csv
!transplant_taxonomy.csv
!trait_name_changes.csv
!biomass_taxonomic_corrections.csv
!ReadMe.md
*.xlsx#
*.csv
*.xls
*.xlsx
*.rar
*.sqlite
*.dat
*.RData.Tmp1
*.rds

#rasters & shapefiles
*.bil
*.blw
*.hdr
*.prj

#figures & output
*.png
*.html
*.pdf
*.jpeg
.my.cnf
*.md

*.tex
*.DS_Store